---
import FooterForm from "@ui/forms/FooterForm.astro";
import ContactInfo from "@common/ContactInfo.astro";

// Props for customization
const companyName = "Korean Students' Association";
const companyDescription =
  "홍콩과학기술대학교 한인학생회는 홍콩과기대 내에서 한국 문화를 전파하고, 회원들에게 한국 문화에 대한 이해를 습득 및 강화하며 한국 전통 문화에 대한 대중적 인식을 높일 기회의 장을 마련하며, 회원들에게 동호 활동 및 이벤트 등을 통해 다양한 교류가 원활하게 이루어질 수 있도록 기회의 장을 마련하며, 회원들의 복지 향상에 힘쓰며 회원들의 목소리를 대변하기 위한 학생단체입니다.";

// Contact information for KSA
const contactDetails = {
  address: "Mail Box #103, LG5 Student Amenities, HKUST, Clear Water Bay, Kowloon, Hong Kong",
  phone: "+852 2358 6000",
  email: "su_ksa@connect.ust.hk",
  website: "www.facebook.com/ksahkustsu",
};

// Dynamic date for copyright display
const copyrightYear = new Date().getFullYear();

// Developer or team behind the website
const craftedBy = { name: "KSA IT Team", url: "#" };

// Trademark notice
const trademarkNotice =
  "HKUST&reg; is a registered trademark of The Hong Kong University of Science and Technology";
---

<footer
  class="mt-auto w-full bg-linear-to-t/oklch from-teal-200 via-transparent to-white pb-10"
>
  <div class="mx-auto mt-auto w-full max-w-[85rem] px-4 pb-10 sm:px-6 lg:px-8">
    <hr class="mb-10 border-slate-200" />

    <div class="flex flex-col gap-6 md:flex-row md:justify-between md:items-start">
      {/* Contact Information Section */}
      <div class="md:w-1/2 lg:w-1/3">
        <ContactInfo {...contactDetails} />
      </div>

      {/* Email Subscription Form */}
      <div class="md:w-1/2 lg:w-2/5">
        <h3 class="font-semibold text-slate-700">KSA 뉴스레터 구독</h3>
        <FooterForm />
      </div>
    </div>

    {/* Divider before footer's bottom section */}
    <hr class="mb-5 mt-10 border-slate-200" />

    <div
      class="grid gap-y-2 sm:flex sm:items-center sm:justify-between sm:gap-y-0"
    >
      {/* Copyright and Crafted By Section */}
      <p class="text-sm text-slate-400/50">
        &copy; 2018-{copyrightYear}
        {companyName} Crafted by
        <!-- <a
          href={craftedBy.url}
          target="_blank"
          rel="noopener noreferrer"
          class="font-medium underline underline-offset-2 outline-hidden ring-slate-400 transition duration-300 hover:text-slate-400 hover:decoration-dashed focus:outline-hidden focus-visible:ring-3"
        > -->
          {craftedBy.name}
        <!-- </a> -->
      </p>

      {/* Trademark Notice */}
      <!-- <p class="text-sm text-slate-400/50">
        <Fragment set:html={trademarkNotice} />
      </p> -->
    </div>
  </div>
</footer>
